.container-fluid.collapsed .content-main .header-dashboard {
    left: 235px;
}
.header-dashboard {
    box-shadow: 13px 10px 10px -5px rgba(0, 0, 0, 0.1) !important;
}
.header-dashboard {
    position: fixed;
    width: 100%;
    z-index: 3;
    box-sizing: border-box;
    height: 96px;
    min-width: 331px;
}
.content-fluid {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}
.header-start {
    display: flex;
    align-items: center;
}
.mobile-btn {
    display: none !important;
    padding: 18.5px 17px;
}
.create-campaigns {
    width: 244px;
    height: 56px;
}
.header-row > .col-5 {
    position: fixed;
    left: 63%;
    width: 700px;
}
.wrapper-activities {
    margin-right: 15px;
}
.wrapper-activities .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1d1d1b;
    padding-right: 50px;
}
  .wrapper-activities .campaign div > .active {
    color: #31a59e;
}
  .wrapper-activities .campaign div > p {
    color: #a5a5a4;
}
  .wrapper-activities .spend div > p {
    color: #212529;
}
  .wrapper-activities .spend {
    border-left: 2px solid #f1ecfc;
}
.campaign {
    margin-right: -20.4px;
}
.profile-list {
    position: absolute;
    left: 586px;
    bottom: -118px;
    transform: translateX(-27%);
    width: 136px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #e1def4;
    border-radius: 14px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    box-shadow: 6px 12px 25px -6px rgba(0, 0, 0, 0.1);
    height: 95px;
  }
.profile-list li {
    display: block;
    padding: 21px 31px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.profile-list li:first-child {
    padding-top: 18px;
    margin-top: -10px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.profile-list li:last-child {
    padding-top: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.profile-list li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.profile-list li:hover {
    color: #713ee6;
    background-color: rgba(113, 62, 230, 0.1);
}
.profile-list li:hover a {
    color: #713ee6;
}  
.profile:hover .profile-list {
    opacity: 1;
}