.logo {
  padding: 20px 20px;
  position: relative;
}
.logo-image {
  display: inline-block;
  min-width: 182px;
  width: 182px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logo-icon.svg);
  z-index: 2;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: -18px;
  right: -25px;
  width: 25px;
  height: 25px;
  border-radius: 0 0 0 40px;
  background-color: #eef0f6;
  transform: rotate(90deg);
  z-index: 1;
}
.logo::before {
  content: "";
  position: absolute;
  bottom: -17px;
  right: -24px;
  width: 25px;
  height: 25px;
  background-color: white;
  transform: rotate(90deg);
}
.sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  width: 96px;
}
.sidebar-list {
  height: 100%;
  overflow-y: auto;
  margin-top: 18px;
}
.sidebar-list__item {
  transition: all 0.33s;
  cursor: pointer;
  border-radius: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 6px;
}
.sidebar-list__item:last-child {
  margin-bottom: 24px;
}
.sidebar-list__item p {
  display: none;
}
.sidebar-list__item.active {
  background-color: rgba(113, 62, 230, 0.1);
}
.sidebar-list__item.active svg path {
  fill: #713ee6;
}
.sidebar-list__item.active p {
  color: #713ee6 !important;
}
.sidebar-list__item:hover svg path {
  fill: #713ee6 !important;
}
.sidebar-list__item:hover p {
  color: #713ee6 !important;
}
.sidebar-list__item:hover {
  background-color: rgba(113, 62, 230, 0.1);
}
.manager {
  display: none;
}
.manager div > div {
  margin-bottom: 15px;
}
.manager div > div:last-child {
  margin-bottom: 20px;
}
.container-fluid.collapsed .manager {
  display: block;
}
.container-fluid.collapsed .sidebar .sidebar-list__item p {
  display: block;
  color: #4a4a49;
  font-weight: 600;
  margin-left: 18px;
}
.container-fluid.collapsed .sidebar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  width: 235px;
}
.date {
  margin-top: 430px !important;
  margin-bottom: 10px !important;
}

.container-fluid.collapsed .date {
  margin-top: 160px !important;
}

.logo-image.mini {
  display: inline-block;
  min-width: 182px;
  width: 182px;
  height: 58px;
  background-position: unset;
  background-repeat: no-repeat;
  background-image: url(../img/logo_mini.svg);
  z-index: 2;
  position: relative;
}

.logo-image.mobile {
  display: none;
  min-width: 44px;
  width: 44px;
  height: 44px;
  background-position: unset;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/logo_mini.svg);
  z-index: 2;
  position: relative;
}

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 330px;
  height: 100%;
  background-color: #fff;
  z-index: 990;
  overflow-y: auto;
  padding: 20px;
  overflow-x: hidden;
}

.sidebar-mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-mobile-menu {
  font-size: 40px;
  font-weight: 400;
}

.sidebar-mobile-svg {
  width: 40px;
  height: 40px;
}

.sidebar-mobile-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar-mobile-login,
.sidebar-mobile-register {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-mobile-login:hover,
.sidebar-mobile-register:hover {
  background-color: #555;
}

.sidebar-mobile-nav {
  margin-bottom: 20px;
}

.sidebar-mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-mobile-nav-item {
  margin-bottom: 10px;
}

.sidebar-mobile-nav-link {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-mobile-nav-link.active {
  font-weight: bold;
}

.sidebar-mobile-nav-link:hover {
  background-color: #eee;
}

.sidebar-mobile .header-right {
  left: 25%;
}